<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
    <head>
        <meta charset='utf-8'>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
	<script
			  src="https://code.jquery.com/jquery-3.5.1.min.js"
			  integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
			  crossorigin="anonymous"></script>
	<script>
	  function addClass(el, classname) {
	      $(el).addClass(classname);
	  }

	  function removeClass(el, classname) {
	      $(el).removeClass(classname);
	  }
	  
	  $(window).on("load", function() {
	      $("div.container").each(function() { addClass(this,"containerSpecial"); })
	      
	      $("#sfx").change( function() {
		  if($(this).is(':checked')) {
		      // turn stuff on
		      $("div.container").each(function() { addClass(this,"containerSpecial"); })
		      $('body,html').addClass("doFlicker");
		  } else {
		      // turn stuff off
		      $("div.container").each(function() { removeClass(this,"containerSpecial"); })
		      $('body,html').removeClass("doFlicker");
		  }
	      });
	  });
	</script>
        <title>
            {% if page.title != '' %}
            {{ site.simple_title }} - {{ page.title }}
            {% else %}
            {{ site.simple_title }}
            {% endif %}
        </title>
    </head>

    <body class="doFlicker">
      <header>
	<div class="controls"><input type="checkbox" id="sfx" name="sfx" value="ON" checked/><label for="sfx">Enable Page Special FX</label></div>
            <div class="container" id="container">
                <a id="a-title" href="{{ '/' | relative_url }}">
                    <h1>{{ site.title | default: "You Need A Title" }}</h1>
                </a>
                <h2>{{ site.description | default: "And A Tagline" }}</h2>
            </div>
        </header>
